<section class="section">
  <div class="container">

    <h1 class="title is-4 m-5 has-text-centered">Flight Search</h1>

    <div class="columns is-centered">
      <div class="column is-half">
        <div class="box">
          <%= render 'flight_search_form' %>
        </div>
      </div>
    </div>


    <% if @search_results %>
      <h1 class="title is-4 m-5 has-text-centered">Search Results</h1>

      <div class="columns is-centered">
        <div class="column is-half">
          <div class="box">
            <%= render 'search_results_choice' %>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</section>


